.nav-logo{
    height: 35px;
    padding-left: 150px
  }
  
  .insta-icon{
    padding-right: 10px;
    color: #000000
  }

  .insta-icon:hover{
    background-color: white;
    color: rgb(173, 76, 32);
  }
  
  nav {
    background-color: rgb(255, 255, 255);
    border-bottom: 0px solid black;
    display: grid;
    grid-template-columns: 1.5fr 0.4fr 0.4fr 0.4fr 1fr 0.1fr 0.1fr;
    padding: 10px; 
    list-style: none; 
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1001;
  }
  
  nav li {
    color: #000000;
    cursor: pointer;
    font-weight:100;
    font-size: 16px
  }
  
  nav li:hover {
    color: rgb(173, 76, 32);
  }
  
  nav a:hover{
    color: rgb(173, 76, 32);
    background-color: white;
  }
  
  .menu-icon-appear{
    display: none;
    margin: 0;
    padding: 0;
  }

  .menu-icon-appear.hidden {
    display: none;
  }

  .parallax-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-attachment: fixed;
  
    background-image: url(https://i.ibb.co/crfYv5T/Header-Photo.png);
    background-position: center;
    background-size: cover;
    background-position-y: 30%;
    color: var(--color);
    row-gap: 0.5rem;
    text-align: center;
  }
  
  @media only screen and (max-width: 768px) {
    .nav-title {
      display: none
    }
  
    .insta-icon {
      display: none
    }

    .menu-icon-appear.hidden {
      display: block;
      color: red
    }

    .menu-icon-appear-cross.hidden {
      display: block;
      color: red;
      z-index: 1004;
    }
  
    .menu-icon-appear{
      display: block;
      z-index: 1004;
      position: fixed;
      top: 15px;
      right: 25px;
      height: 20px;
      color: rgb(0, 0, 0);
      font-size: 24px;
    }
  
    nav {
      display: flex;
      justify-content: flex-start;
    }
  
    .nav-logo{
      height: 35px;
      padding-left: 20px
    }

    .parallax-container {
      height: 100vh;
      margin-top: 0px;
      background-size: 768px auto;
      background-position-y: 90%;
      background-image: url(https://i.ibb.co/F57Mdsc/Screenshot-2024-01-25-at-10-34-40.png);
    }
  }

  @media only screen and (max-width: 550px) {
    .parallax-container {
      background-size: 550px auto;
      background-position-y: 0%;
      height: 65vh;
    }
  }

  @media only screen and (max-width: 500px) {
    .parallax-container {
      height: 100vh;
      background-size: 600px auto;
      background-position-y: 30%;
    }
  }
